@mixin primary-font(
  $size: false,
  $color: false,
  $weight: false,
  $lh: false,
  $ls: false
) {
  font-family: 'Baloo', cursive;

  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin secondary-font(
  $size: false,
  $color: false,
  $weight: false,
  $lh: false,
  $ls: false
) {
  font-family: 'IBM Plex Serif', serif;

  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $ls {
    letter-spacing: $ls;
  }
}
